
{% extends 'base.html.twig' %}

{% block title %}Créer une sortie {% endblock %}

    {% block body %}

        <h1> Créer une sortie </h1>

        {{ form (formSortie) }}
{#        {{ form_start(formSortie) }}#}


{#                    {{ form_label(formSortie.nom,'Nom de la sortie',{'label_attr':{'class':'form-label'}}) }}#}
{#                    {{ form_widget(formSortie.sortie,{'attr':{'class':'form-control'}}) }}#}
{#        #}

{#                    {{form_label(formSortie.datedebut,'Date et heure de la sortie',{'label_attr':{'class':'form-label'}}) }}#}
{#                    {{ form_widget(formSortie.datedebut,{'attr':{'class':'form-control'}}) }}#}

{#        #}
{#                    {{form_label(formSortie.duree,'Durée',{'label_attr':{'class':'form-label'}}) }}#}
{#                    {{ form_widget(formSortie.duree,{'attr':{'class':'form-control'}}) }}#}


{#                    {{form_label(formSortie.datecloture,'Date limite d"inscription',{'label_attr':{'class':'form-label'}}) }}#}
{#                    {{ form_widget(formSortie.datecloture,{'attr':{'class':'form-control'}}) }}#}


{#                    {{form_label(formSortie.nbinscriptionmax,'Nombre de place',{'label_attr':{'class':'form-label'}}) }}#}
{#                    {{ form_widget(formSortie.nbinscriptionmax,{'attr':{'class':'form-control'}}) }}#}



{#                    {{form_label(formSortie.datecloture,'Date limite d"inscription',{'label_attr':{'class':'form-label'}}) }}#}
{#                    {{ form_widget(formSortie.datecloture,{'attr':{'class':'form-control'}}) }}#}



{#                    {{form_label(formSortie.descriptioninfos,'Description et infos',{'label_attr':{'class':'form-label'}}) }}#}
{#                    {{ form_widget(formSortie.descriptioninfos,{'attr':{'class':'form-control'}}) }}#}


{#                    {{ form_widget(formSortie.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}#}

{#        {{ form_end(formSortie) }}#}

    {% endblock %}